@import './assets/root.module.css';

h1{
	font-size: 2rem;
}
h2{
	font-size: 1.6rem;
}
h3{
	font-size: 1.4rem;
}
#root{
	padding-inline: 12rem;
}
@media (max-width: 768px) {
	#root {
	  padding-inline: 2rem;
	}
  }

textarea{
	resize: none;
	font-size: 1rem;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 1rem;
}

main{
	margin-top: 2rem;
}

/**BOUTON ACCUEIL **/
.btn-accueil{
	padding-inline: 2rem;
	padding-block: 1rem;
	border: 2px solid var(--primary);
	border-radius: 20px;
	text-decoration: none;
	background-color: var(--primary);
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 520;
	transition:0.2s
}
.btn-accueil:hover{
	background-color: var(--primaryHover);
}

/**ACCUEIL**/
.addNote{
	padding-inline: 2rem;
	padding-block: 1rem;
	border: 2px solid var(--primary);
	border-radius: 20px;
	text-decoration: none;
	background-color: var(--primary);
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 520;
}
/**NOTE LISTE**/
.list-note{
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	gap: 2rem;
}

.note-card{
	background-color: rgb(241, 241, 241);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1.2rem;
	padding: 1.2rem;
	box-shadow: 2px 4px 5px 5px rgb(139, 139, 139);
}

.lien-ajout{
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border: 2px solid var(--primary);
	border-radius: 8px;
	text-decoration: none;
	background-color: var(--primary);
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 520;
	transition: 0.2s;
}
.lien-ajout:hover{
	background-color: var(--primaryHover);
}

.card-lien{
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.delete-btn{
	background-color: rgb(219, 55, 55);
	color:var(--white);
	font-size: 1.2rem;
	font-weight: 520;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
}
.delete-btn:hover{
	background-color: rgb(143, 39, 39);
}

/**FORM NOTE**/
form{
	background-color: var(--primary);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 0.5rem;
}
.form-title{
	display: flex;
	gap: 1rem;
	color: var(--white);
}
@media (max-width: 768px) {
	.form-title {
	  flex-direction: column;
	}
  }
.form-title>h2{
	margin: 0;
}
.input-title{
	border: none;
	border-radius: 0.2rem;
	font-size: 1rem;
	font-weight: 500;
}
.btn-submit{
	border: none;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s;
}
.btn-submit:hover{
	background-color: var(--secondaryHover);
	color: var(--white);
}

/**BOUTON MARKDOWN SWITCH**/
.switch {
	position: relative;
	
	width: 130px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.switch.right{
	background-color: var(--secondary);
}
.switch.left{
	background-color: var(--primary);
	color: var(--white);
}

.switch-ball {
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--white);
	transition: transform 0.3s ease;
}

.switch-ball.left {
	transform: translateX(-10%);
}

.switch-ball.right {
	transform: translateX(320%);
}
.format{
	position: absolute;
	transition: transform 0.3s ease;
	font-size: 1.2rem;
}
.format.left{
	transform: translateX(40%);
}
.format.right{
	transform: translateX(10%);
}

/**VIEW NOTE**/
.note-view{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.btn-modif{
	background-color: var(--secondary);
	font-size: 1.2rem;
	font-weight: 520;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	color: var(--black);
}
.btn-modif:hover{
	background-color: var(--secondaryHover);
}